body {
  background-color: #dadadbff !important;
  font-family: 'Raleway', sans-serif;
  max-width: 960px;
  padding-left: 3%;
  padding-right: 3%;
}

.service {
  display: inline;
  padding: $padding;
  color: black;
  font-size: 30px;
  font-weight: 400;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 0;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  text-align: left;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
}

/* Horizontal Line */
.line_break {
  border: none;
  height: 3px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
 }

.menu-list-block {
  margin-top: 2em;;
}

.menu-list {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 42px;
  padding: 20px 0px 0px 15px;
  text-transform: uppercase;
  text-align: center;
}

.sub-menu {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.sub-menu-desc {
  margin-top: 15px;
  margin-bottom: 25px;
}

.bolder {
  font-weight: 600;
}

.notice {
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: small;
}

.orange-text {
  font-family: 'Roboto', sans-serif !important;
  color: #ec6300ff !important;
}

.orange-desc {
  color: #ec6300ff !important;
  font-weight: 600;
}

.no-line {
  text-decoration: none;
}

figure {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sign img {
  height: 25px;
  width: auto;
  padding: 0;
}

img {
  width: 200px;
  height: 200px;
  display: block;
  padding-top: 55px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: auto;
}

.menu-main-title {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  color: #ec6300ff;
  font-size: 62px;
  height: 3.5em;
  line-height: 3.5em;
}

.main-title {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #ec6300ff;
  font-size: 48px;
  padding-top: 1em;
  text-transform: uppercase;
}

.sign {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  vertical-align: center;
}

.sign figcaption {
    margin: -17px 0 10px 20px;
}

.main_btn {
  position: relative;
  display: inline-block;
  font-weight: 500;
  width: 100%;
  padding: 0.1em 0em;
  text-decoration: none;
  color: #000000;
  transition: .4s;
  border-bottom: solid 2px #ec6300ff;
  border-top: solid 2px #ec6300ff;
}

.main_btn:hover {
  padding: 0.3em 0.1em;
}

.square_btn{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #333333;/*Button Color*/
  color: #FFF;
  border-bottom: solid 4px #000000;
  border-radius: 3px;
}
.square_btn:active {/*on Click*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*Move down*/
  border-bottom: none;/*disappears*/
}

/* DIRTY Responsive pricing table CSS */

/* 
- make mobile switch sticky
*/
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
     outline: 0;
  }
  article {
    width:100%;
    max-width:1000px;
    margin:0 auto;
    height:1000px;
    position:relative;
  }
  ul {
    display:flex;
    top:0px;
    z-index:10;
    padding-bottom:14px;
  }
  li {
    list-style:none;
    flex:1;
  }
  li:last-child {
    border-right:1px solid #DDD;
  }
  button {
    width:100%;
    border: 1px solid #DDD;
    border-right:0;
    border-top:0;
    padding: 10px;
    background:#FFF;
    font-size:14px;
    font-weight:bold;
    height:60px;
    color:#999
  }
  li.active button {
    background:#F5F5F5;
    color:#000;
  }
  table { border-collapse:collapse; table-layout:fixed; width:100%; }
  th { background:#F5F5F5; display:none; }
  td, th {
    height: 20px;
  }
  td,th { border:0px solid #DDD; padding: 0px; empty-cells:show; }
  td,th {
    text-align:left;
  }
  td+td, th+th {
    text-align:center;
    display:none;
  }
  td.default {
    display:table-cell;
  }
  .bg-purple {
    border-top:3px solid #A32362;
  }
  .bg-blue {
    border-top:3px solid #0097CF;
  }
  .sep {
    background:#F5F5F5;
    font-weight:bold;
  }
  .txt-l { font-size:28px; font-weight:bold; }
  .txt-top { position:relative; top:-9px; left:-2px; }
  .tick { font-size:18px; color:#2CA01C; }
  .hide {
    border:0;
    background:none;
  }
  
  @media (min-width: 640px) {
    ul {
      display:none;
    }
    td,th {
      display:table-cell !important;
    }
    td,th {
      width: 330px;
    
    }
    td+td, th+th {
      width: auto;
    }
  }